# Copyright 2025, LiserverYang. All rights reserved.

from Build import BuildSystem

class Module(BuildSystem.ModuleBase):
    """
    Pydoc
    """

    def Configuration(self) -> None:
        """
        Pydoc
        """
