# Copyright 2025, LiserverYang. All rights reserved.

from Build import BuildSystem

class Target(BuildSystem.TargetBase):
    """
    Pydoc
    """

    def Configuration(self) -> None:
        """
        Pydoc
        """