/*
 * Copyright 2025, LiserverYang, All rights reserved.
 *
 * Genericed by reflection system in LisEngine.
 */

const std::vector<std::string> &ReflectionSystem::{{ClassName}}Helper::GetFields()
{
    return { {{FieldsInitList}} };
}