/*
 * Copyright 2025, LiserverYang, All rights reserved.
 *
 * Genericed by reflection system in LisEngine.
 */

#include "ReflectionFull.h"

class {{ClassName}};

namespace ReflectionSystem
{
    class __{{ClassName}}Helper
    {
    public:
        __{{ClassName}}Helper();
    };
}